---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
UseTab: Never
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
